<% form_for(investment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.select :name, options_for_select(Stock::ALL.map{|key, _| [key.capitalize, key.capitalize]}) %>
    <span class="note">
      $<%= YahooStock.get %> / oz
    </span>
  </p>

  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount, :size => 4 %>
    oz
  </p>
  <p>
    <%= f.submit investment.new_record? ? 'Buy' : 'Update' %>
  </p>
<% end %>