<div class="investment">
  <h3>
    <% if defined?(detailed) && detailed %>
      <%=h investment.name %>
    <% else %>
      <%= link_to investment.name, investment %>
    <% end %>
  </h3>

  <p>
    <b>Total worth:</b>
    <span class="price">
      $<%=h render_price(investment.amount * investment.current_price) %>
    </span>
    <span class="note">
      ($<%= render_price(investment.current_price) %> / oz)
    </span>
    <b class="amount">Amount bought:</b> <%=h investment.amount %> oz
  </p>


  <h4>Price history</h4>
  <% cache(investment.cache_key) do %>
    <%= render_chart(investment.stocks) %>
  <% end %>
  
  <ul class="price-list">
  <% investment.stocks.each do |stock| %>
    <li>
      <span class="note date">
        <%= stock.created_at.to_s(:short) %>
      </span>
      &mdash;
      <span class="price">
        $<%= render_price(stock.price) %>
      </span>
    </li>
  <% end %>
  </ul>
  
  <div class="stats">
    <p>
      <b>All time high:</b><br/>
      <span class="max">
        $<%=h render_price(investment.max.price) %>
      </span>
      <span class="note date">
        <%= investment.max.created_at.to_s(:short) %>
      </span>
    </p>
    <p>
      <b>All time low:</b><br/>
      <span class="min">
        $<%=h render_price(investment.min.price) %>
      </span>
      <span class="note date">
        <%= investment.min.created_at.to_s(:short) %>
      </span>
    </p>
    <p>
      <b>Price when you invested:</b><br/>
      <span>
        $<%=h render_price(investment.original_price) %>
      </span>
      <span class="note date">
        <%= investment.created_at.to_s(:short) %>
      </span>
    </p>

  </div>

  <div style="clear: left;"></div>
  
  <% if defined?(detailed) && detailed %>
    <%= link_to 'Edit', edit_investment_path(investment) %> |
    <%= link_to 'Delete', investment, :confirm => 'Are you sure?', :method => :delete %> |
    <%= link_to 'Back', investments_path %>
  <% end %>
</div>