<div class="investment">
  <h3>
    <% if defined?(detailed) && detailed %>
      <%=h investment.name %>
    <% else %>
      <%= link_to investment.name, investment %>
    <% end %>
  </h3>

  <p>
    <b>Total worth:</b>
    $<%=h render_price(investment.amount * investment.current_price) %>
    <span class="note">
      ($<%= render_price(investment.current_price) %> / oz)
    </span>
  </p>
  <p>
    Amount bought: <%=h investment.amount %> oz
  </p>


  <h4>Price history</h4>
  <%= render_chart(investment.stocks) %>
  <ul>
  <% investment.stocks.each do |stock| %>
    <li>
      $<%= render_price(stock.price) %>
      <span class="note">
        <%= stock.created_at.to_s(:short) %>
      </span>
    </li>
  <% end %>
  </ul>

  <% if defined?(detailed) && detailed %>
    <%= link_to 'Edit', edit_investment_path(investment) %> |
    <%= link_to 'Delete', investment, :confirm => 'Are you sure?', :method => :delete %> |
    <%= link_to 'Back', investments_path %>
  <% end %>
</div>